@use '../abstracts/variables' as *;

*{
    box-sizing: border-box;
}

body, html {
    font-size: $font-size-base;
    font-weight: $font-weight-light;
    font-family: $font-family-primary;
    color: $color-darkest;
    letter-spacing: 1.5px;
    background: $color-bg-dark;
    margin: 0; padding: 0;
    width: 100%;
}

// Layout Utilities
.fullscreen {
    height: 100vh;
    overflow: hidden;
}

.absolute {
    position: absolute;
}
