@use '../abstracts/variables' as *;

/* Import Muli font from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Muli:200,300,400,400i,600,700");

*{
    box-sizing: border-box;
}

body, html {
    font-size: $font-size-base;
    font-weight: $font-weight-light;
    font-family: $font-family-primary;
    color: $color-darkest;
    letter-spacing: 1.5px;
    background: $color-bg-dark;
    margin: 0; padding: 0;
    width: 100%;
}

// Layout Utilities
.fullscreen {
    height: 100vh;
    overflow: hidden;
}

.absolute {
    position: absolute;
}
